html,
body {
  font-size: 32px;
}

/* means everything in the HTML file of the parent nav ul */
nav ul {
  /* justify-content: space-evenly; */
  padding-left: 0;
  list-style: none;
}

nav a {
  display: block;
  padding: 0.5rem 1rem;
  border: 2px #495194 solid;
  background-color: #f2a09f;
  color: #3f3d53;
  text-decoration: none;
}

nav li {
  flex: auto;
}

/* never apply padding to the "lists" items, apply padding to "a" links - gives other more surface area to click */

nav a:hover {
  background-color: #733b3d;
  color: rgb(231, 239, 239);
  text-decoration: underline;
  text-underline-offset: 10px;
  transition: 0.25s;
}
/* when you click on a link and it changes color */
nav a:active {
  background-color: #be8fb8;
  color: aliceblue;
}

/* MEDIA QUERIES */

@media (width > 1024px) {
  nav ul {
    display: flex;
  }
  nav ul > * {
    flex: auto;
  }
}
